html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

:root {
  --bg-color: #fdf6f0;
  --text-color: #ff7f50;
  --accent-color: #ff7f50;
}

[data-theme="dark"] {
  --bg-color: #1e1e1e;
  --text-color: #f5f5f5;
  --accent-color: #ffb86c;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}


.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Segoe UI', sans-serif;
}

.main-content {
  width: 100%;
  max-width: 800px;
}

